    <div id="main">
    <p>
      My name is Mikel Ward.  I am a 34-year-old Australian.
    </p>
    <p>
      I was born as Michael Wardle but changed my name legally to make it shorter and more logical.<br />
    </p>
    <p>
      I grew up in Naracoorte in South Australia.<br />
    </p>
    <p>
      I lived and worked for several years in Wodonga and Melbourne.<br />
    </p>
    <p>
      I am currently working for Google in Mountain View, California.
    </p>
    <p>
      I am interested in technology, music, movies, sports, science, politics, food, language, and travel.<br />
    </p>
