    <div id="main">
    <p>
      My name is Mikel Ward. I am a 44-year-old Australian-American.
    </p>
    <p>
      I grew up in Naracoorte in South Australia.<br />
    </p>
    <p>
      I have lived in Australia, the USA, and the UK.
    </p>
    <p>
      I am currently working for Google in London, UK.
    </p>
    <p>
      I am interested in technology, music, movies, sports, science, politics, food, language, and travel.<br />
    </p>
