    <dl>
        <dt><a href="tabsmenu">Tabs Menu</a></dt>
        <dd>Adds a Tabs menu to the main menu bar, allowing you to easily change to a different tab</dd>
    </dl>

    <p>
      Other extensions will be re-added soon.
    </p>
