<title>{{ title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="author" content="Mikel Ward">
<link rel="icon" type="image/ico" href="/m.ico" />
{% include 'style.jinja' %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
