  <div id="main">
  <p>
    I am a 34-year-old computer specialist from Australia, now living in California.
  </p>
  <p>
    You can view my <a href="/resume">resume</a> or <a href="/contact">contact me</a>.
  </p>
  </div>
