  <div id="main">
  <p>
    Computer specialist and father of one. From Australia and the USA, now living in London.
  </p>
  <p>
    You can view my <a href="/resume">resume</a> or <a href="/contact">contact me</a>.
  </p>
  </div>
