    <style type="text/css">
      .date { vertical-align: top }
      table { table-layout: fixed; width: 100% }
      td.date { width: 4em; padding-right: 1em }
      @media (min-width: 64em) {
        td.date { width: 8em; padding-right: 2em }
      }
      td.description { margin-right: 1em }
}
    </style>

    <div style="text-align: center; margin: auto">
      <table>
        <tr><td><b>Mikel Ward</b></td></tr>
        <tr><td>Sunnyvale, California, USA</td></tr>
        <tr><td>mikel@mikelward.com</td></tr>
      </table>
    </div>

    <div>
      <h2 id="employment">Employment History</h2>
      <table>
        <tr>
          <td class="date">2011&mdash;present</td>
          <td class="description">
            <span class="title">Site Reliability Engineer</span><br />
            <a href="http://www.google.com/">Google</a>, Mountain View, USA</a>
            <ul>
              <li>Development of internal systems applications in Python and Go</li>
              <li>Development of full-stack Web applications in C++, Go, Polymer, and Angular/TypeScript</li>
              <li>Maintenance and provisioning of DNS, DHCP, IRC, load balancing, and other services</li>
              <li>System monitoring and alerting</li>
              <li>Disaster recovery testing</li>
              <li>Administration of Linux production systems</li>
              <li>On-call work</li>
            </ul>
          </td>
        </tr>

        <tr>
          <td class="date">2010&mdash;2011</td>
          <td class="description">
            <span class="title">Student, Master of Information Technology</span><br />
            <a href="http://www.unimelb.edu.au/">University of Melbourne</a>, Parkville, Australia<br />
              <ul>
                <li>Learned Java, Python, and Haskell</li>
                <li>Revised Algorithms and Networking</li>
                <li>High Distinction (H1) for all subjects</li>
              </ul>
            </a>
          </td>
        </tr>

        <tr>
          <td class="date">2007&mdash;2010</td>
          <td class="description">
            <span class="title">Systems Engineer</span><br />
            <a href="http://www.aconex.com/">Aconex</a>, Melbourne, Australia<br />
              <ul>
                <li>Administration of Java-based Web application</li>
                <li>Administration of Linux and Windows production servers</li>
				<li>Development of in-house tools</li>
				<li>Documentation and development of processes</li>
				<li>System monitoring and alerting</li>
                <li>On-call work</li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="date">2003&mdash;2007</td>
          <td class="description">
            <span class="title">Systems Administrator</span><br />
            <a href="http://www.abcorp.com/">ABCorp</a>, Highett, Australia<br />
              <ul>
                <li>Administration of AIX, HP-UX, Linux and Windows servers</li>
                <li>Maintenance of UNIX server and Windows client software in C++</li>
                <li>Development of Web sites in PHP</li>
                <li>Telephone support and staff training</li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="date">2000&mdash;2003</td>
          <td class="description">
            <span class="title">Trainee Software Engineer</span><br />
            <a href="http://www.adacel.com/">Adacel Technologies</a>, Wodonga, Australia<br />
              <ul>
                <li>Maintenance of IRIX and Linux systems applications in C++ and Perl</li>
                <li>Administration of Red Hat Linux servers</li>
              </ul>
          </td>
        </tr>

        <tr>
          <td class="date">2000</td>
          <td class="description">
            <span class="title">Systems Engineer</span><br />
            Celvin Technologies, Wy Yung, Australia<br />
              <ul>
                <li>Planning and rollout of 13 site
                    <abbr title="Integrated Services Digital Network">ISDN</abbr> <acronym title="Wide Area Network">WAN</acronym></li>
                <li>Installation and maintenance of Windows servers</li>
                <li>On-site technical support and user training</li>
              </ul>
          </td>
        </tr>
      </table>
    </div>

    <div>
      <h2 id="qualifications">Qualifications</h2>
      <table>
        <tr>
          <td class="date">2006, 2008, 2011</td>
          <td class="description">
            <span class="title">Red Hat Certified Engineer (RHCE)</span>
          </td>
        </tr>

        <tr>
          <td class="date">2011</td>
          <td class="description">
            <span class="title">Cisco Certified Entry Networking Technician (CCENT)</span><br />
          </td>
        </tr>

        <tr>
          <td class="date">2010&mdash;2011</td>
          <td class="description">
            <span class="title">Postgraduate Certificate of Information Technology</span><br />
            University of Melbourne</a>
          </td>
        </tr>

        <tr>
          <td class="date">2004&mdash;2007</td>
          <td class="description">
            <span class="title">Bachelor of Computer Science</span><br />
            Monash University</a>
          </td>
        </tr>

        <tr>
          <td class="date">2002</td>
          <td class="description">
            <span class="title">Certificate of Software Engineering</span><br />
            Melbourne University Private</a>
        </tr>
      </table>
    </div>

    <div>
      <h2 id="skills">Skills</h2>
      <ul>
        <li>Linux (Debian, Red Hat, etc.), BSD, Unix, and Windows</li>
        <li>Programming (C, C++, Go, Java, Perl, Python, Bash, etc.)</li>
        <li>Networking (TCP/IP, firewalls, IPv6, etc.)</li>
        <li>Web (HTML, CSS, JavaScript, TypeScript, PHP, Polymer, Angular, etc.)</li>
        <li>Services (DHCP, DNS, FTP, HTTP, mail, NFS, SSH, etc.)</li>
		    <li>Monitoring (PCP, Nagios, Borgmon, Prometheus, etc.)</li>
      </ul>
    </div>

    <div>
      <h2 id="awards">Awards</h2>
      <ul>
        <li>Perfect score, UNIX Tools, Monash University</li>
        <li>Perfect score, Red Hat Certified Engineer, Red Hat Learning Services</li>
      </ul>
    </div>

    <div>
      <h2 id="other">Other</h2>
      <p>Active contributor on the Stack Exchange network:</p>
      <ul>
        <li><a href="http://unix.stackexchange.com/users/3169/mikel">Unix &amp; Linux</a></li>
        <li><a href="http://superuser.com/users/15334/mikel">Superuser</a></li>
        <li><a href="http://stackoverflow.com/users/102182/mikel">Stackoverflow</a></li>
      </ul>
    </div>

    <div>
      <h2 id="referees">Referees</h2>
      <p>Please <a href="http://mikelward.com/contact">contact me</a> for details of my referees.</p>
    </div>
