    <dl>
        <dt><a href="/software/firefox">Firefox Addons</a></dt>
        <dd>Small programs that add extra functionality to the Firefox web browser</dd>
		<dt><a href="gnome">GNOME-related Patches</a></dt>
		<dd>Currently includes an improved GNOME Terminal</dd>
        <dt><a href="https://github.com/mikelward/conf">UNIX Configuration</a></dt>
        <dd>Configuration files for UNIX programs including Bourne Shell, C Shell, Emacs, and Vi</dd>
        <dt><a href="https://github.com/mikelward/scripts">UNIX Scripts</a></dt>
        <dd>Small programs to accomplish common tasks on UNIX systems</dd>
    </dl>
