    <dl>
        <dt><a href="https://gedmap.com">gedmap.com</a> (<a href="https://github.com/mikelward/gedmap">GitHub</a>)</dt>
        <dd>View your family tree on a world map</dd>
        <dt><a href="https://hnews.app">hnews.app</a> (<a href="https://github.com/mikelward/newshacker">GitHub</a>)</dt>
        <dd>Unofficial mobile-optimized version of news.ycombinator.com</dd>
        <dt><a href="https://github.com/mikelward/root">root</a> (<a href="https://github.com/mikelward/root">GitHub</a>)</dt>
        <dd>Simpler, safer sudo</dd>
        <dt><a href="https://github.com/mikelward/conf">conf</a> (<a href="https://github.com/mikelward/conf">GitHub</a>)</dt>
        <dd>Linux, Mac, and Windows system configuration files</dd>
        <dt><a href="https://github.com/mikelward/scripts">scripts</a> (<a href="https://github.com/mikelward/scripts">GitHub</a>)</dt>
        <dd>Small programs to accomplish common tasks</dd>
        <dt><a href="https://github.com/mikelward/vcs">vcs</a> (<a href="https://github.com/mikelward/vcs">GitHub</a>)</dt>
        <dd>Ergonomic wrapper around git, hg, and jj</dd>
    </dl>
