<link rel="stylesheet" type="text/css" media="all" href="/styles/all.css" />
<link rel="stylesheet" type="text/css" media="print" href="/styles/print.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/screen.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/screen-standard.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/menu-topbanner.css" title="Blue banner" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" media="screen" href="/styles/menu-topbanner-ie.css" title="Blue banner" />
<![endif]-->
<!--[if gte IE 7]>
<link rel="stylesheet" type="text/css" media="screen" href="/styles/menu-topbanner-ie7.css" title="Blue banner" />
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="/scripts/ie7/ie7-standard-p.js"></script>
<![endif]-->
