    <div class="summary">
    <p>
        Adds a Tabs menu to the main menu that lets you easily change between open tabs.
    </p>
    </div>
    <div class="description">
    <p>
        Just click on the new Tabs menu item in the main menu,
        then click on the name of the tab that you want to switch to.
    </p>
    </div>
    <div class="screenshots">
        <a href="tabs-menu-screenshot.png"><img src="tabs-menu-screenshot-small.png" alt="" /></a>
        <p class="caption">Screenshot: Opening the Tabs menu</p>
    </div>
    <div class="version">
    <p><a href="https://addons.mozilla.org/en-US/firefox/downloads/file/21797/tabs_menu-1.4.8-fx+sm+fl.xpi">Install Tabs Menu 1.4.8</a></p>
    </div>
