/*
 * menu-topbar-static.css
 * StyleSheet to show menu as a horizontal bar along the top
 * Static variant: Submenus are always shown
 *
 * Michael Wardle, November 7, 2004
 */

/*
 * Page has a narrow margin on each side.
 */
body { margin: 0.5em 1em }

/*
 * Menu is a gray horizontal bar with a black border at the top of the page.
 * Menus are constructed from unordered lists, with menu entries being
 * list items.  Sub menus are lists within lists.
 * All menu items are visible.
 */
#menu { position: absolute; top: 0.5em; left: 1em; right: 1em; z-index: 1;
	border-bottom: 2px solid black;
        color: black; background-color: rgb(220,220,220); }
* > #menu { position: fixed }
#menu ul { display: inline; padding: 0px; margin: 5px }
#menu li { display: inline; list-style: none;
           /*background-color: transparent*/ }
#menu li.submenu { font-weight: bolder; white-space: nowrap }
#menu li.menuitem, #menu li.current { font-weight: normal; }

#title { position: absolute; top: 2em; left: 1em; right: 1em; padding: 0em 1em }
#content { position: absolute;
           /*top: 5em; left: 2em; bottom: 1em; right: 1em;*/
           top: 6em; left: 1em; bottom: 1em; right: 1em;
           /*top: 7em; left: 1em; bottom: 1em; right: 1em;*/
           padding: 0em 1em }

/*.submenu:before { content: "|"; }*/

/* 
 * Footer is a gray horizontal bar with a black border at the bottom of the
 * page.
 * Anchors aren't the same size as the image they contain in CSS, so have to
 * fix the height of the footer bar to the height of the logo images for a
 * consistent effect in all browsers.
 * Hide the footer in Internet Explorer as it doesn't position it right.
 */ 
#footer { position: fixed; z-index: 1; height: 15px;
          bottom: 1em; left: 1em; right: 1em;
          padding: 0em; margin: 0em;
          background-color: rgb(220,220,220);
          border-top: 2px solid black; border-bottom: 2px solid black; }
#footer { display: none }

th { color: black; background-color: rgb(220,220,220) }

