/*
 * menu-sidebar-relative.css
 * StyleSheet to show menu as side bar
 * Relative Variant: Uses relative positioning for older browsers
 *
 * Michael Wardle
 * November 7, 2004
 */

th { color: black; background: rgb(220,220,220); }

/*
 * Links have no decoration (disables underlining of link text)
 */
:link, :visited { text-decoration: none; }

/*
 * Menu is a gray box with a black border in the top right corner of the page.
 * All menu items are always visible.
 * Menus are constructed from unordered lists with menu entries being
 * list items.
 */
#menu { float: right;
        padding: 0em; margin: 0.5em;
        border: 1px solid black;
        color: black; background-color: rgb(220,220,220) }
#menu ul { list-style: none; padding: 0em; margin: 0em 0.5em; }
#menu li.submenu { font-weight: bolder }
#menu li.menuitem, #menu li.current { font-weight: normal }
#menu li.current { font-style: italic }

/*
 * Place the title at the top of the page.
 */
#title { position: relative; top: 0.5em;
         padding: 0em 0.5em }
#title h1 { margin: 0em }

#content { }

#footer { display: none;
          left: 1em; bottom: 1em; width: 80px }

