/*
 * screen.css
 *
 * Stylesheet for use with screen devices
 *
 * Mikel Ward <mikel@mikelward.com>
 *
 */

html { background-color: #eeeeee }

#menu { font-family: sans-serif; }

a:link { color: blue; }
a:visited { color: blue; }
a:active, a:focus, a:hover { color: green; }
:link, :visited { text-decoration: none; }
a.unavailable { text-decoration: line-through; cursor: not-allowed; }

p { max-width: 42em }
#banner p { max-width: none }

#title { padding: 0em 1em; margin: 0em }
#content { padding: 0; margin: 0 } /* main division of page */
@media (min-width: 64em) {
  #content { padding: 0em 1em }
}
#footer { padding: 1em }
#sections a { padding-right: 0.5em; }

.collapsible h2, .collapsible h3, .collapsible h4, .collapsible h5, .collapsible h6 { cursor: pointer; cursor: hand }

#menu, #menu * { font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", sans-serif; }
