/*
 * screen.css
 *
 * Stylesheet for use with screen devices
 *
 * Mikel Ward <mikel@mikelward.com>
 *
 */

#menu { font-family: sans-serif; }
input { font-family: sans-serif; }
body, p, td, ul, li, dl, dd, dt { font-family: sans-serif }
body, p, td, ul, li, dl, dd, dt { line-height: 140%; word-spacing: 0.005em }
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; line-height: 140%; word-spacing: -0.01em }

a:link { color: blue; }
a:visited { color: blue; }
a:active, a:focus, a:hover { color: green; }
:link, :visited { text-decoration: none; }
a.unavailable { text-decoration: line-through; cursor: not-allowed; }

p { max-width: 42em }
#banner p { max-width: none }

#title { padding: 0em 1em; margin: 0em }
#content { padding: 0em 1em; margin: 0em } /* main division of page */
#footer { padding: 1em }
#sections a { padding-right: 0.5em; }

.collapsible h2, .collapsible h3, .collapsible h4, .collapsible h5, .collapsible h6 { cursor: pointer; cursor: hand }

#menu, #menu * { font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", sans-serif; }
body, p, td, ul, li, dl, dd, dt { font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Ubuntu", "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", sans-serif; }

body { font-size: large }
